/* Apollo stylesheet v0.0.1
 * Copyright 2016 Timur Kuzhagaliyev
 * https://opensource.org/licenses/mit-license.php MIT License */
body {
  background-color: #f2f2f2;
  padding: 54px 0 0 0;
  color: #fff; }

.top-buffer {
  margin-top: 20px; }

.panel-heading .breadcrumb {
  margin-bottom: 0; }
