/*
 Apollo stylesheet v0.0.3
 Copyright 2016 Timur Kuzhagaliyev
 https://opensource.org/licenses/mit-license.php MIT License

@import "core/core"
@import "partials/loader"
@import "partials/record"
@import "partials/menu"

/* Extension to bootstrap
.undefined
  color: $apollo-secondary-colour
  font-style: italic
.panel-no-padding
  padding-bottom: 0 !important
  padding-top: 0 !important
.clickable
  cursor: pointer

/* Loader-related CSS
.loader-ready
  position: relative

/* Bootstrap fixes

// Do not display the top border on some tables
.table.no-border-top
  tr:first-child
    td
      border-top: none !important

// Add an extra margin for icons inside buttons
.btn
  & > .glyphicon
    margin-right: 8px

// Fix padding on date input groups and textareas
.apollo-input-container
  .input-group
    padding-right: 0 !important
    padding-left: 0 !important
  textarea
    resize: vertical

// Fix padding for dropdown other
.input-dropdown-other
  padding-top: 3px

// Added a border to multiple text data
.apollo-data-text-multiple
  border-top: 1px solid #dddddd
  padding: 3px 0
  &:first-child
    border-top: none
    padding-top: 0
  &:last-child
    padding-bottom: 0

// Fix padding for multiple text inputs and resetting button padding
.apollo-input-text-multiple
  margin-right: 0 !important
  margin-left: 0 !important
  padding: 2px 0
  [class^="col-"]
    padding-right: 2px !important
    padding-left: 2px !important
    &:first-child
      padding-left: 0 !important
    &:last-child
      padding-right: 0 !important
  .btn
    padding-right: 8px !important
    padding-left: 8px !important
    & > .glyphicon
      margin-right: 0 !important

// Remove margin on breadcrumbs for better appearance
.panel-heading
  .breadcrumb
    margin-bottom: 0

// Removing the margin on the error page
.jumbotron.error-page
  margin-bottom: 0

#main-panel > .panel:last-child
  margin-bottom: 0