/*
 Apollo stylesheet v0.0.1
 Copyright 2016 Timur Kuzhagaliyev
 https://opensource.org/licenses/mit-license.php MIT License

@import "core/core"
@import "partials/loader"

// For loader
.table-responsive
  position: relative

// Bootstrap fixes

.panel-heading
  .breadcrumb
    margin-bottom: 0

.jumbotron.error-page
  margin-bottom: 0

#main-panel > .panel:last-child
  margin-bottom: 0