body {
    background-color: #bbc5c4;
    /*background: url("../images/bg.png");*/
}

#sign-in {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#sign-in h1 {
    color: #1b617b !important;
}

#sign-in .btn-primary {
    background-color: #1b617b !important;
    border-color: #1b617b !important;
}

#nav-breadcrumbs {
    margin-bottom: 0 !important;
}

#record .form-group {
    margin-bottom: 0 !important;
}

#record .table {
    margin-bottom: 0px !important;
}

#fields td {
    padding: 4px 2px !important;
}

.secondary-text {
    color: #999;
}

.top-buffer {
    margin-top: 15px;
}